@import 'styles/variables';

.searchJokes {
  margin-left: auto;
  margin-bottom: 60px;
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 50%;
}

.searchJokesInput {
  padding: 20px 35px;
  box-shadow: $box-shadow;
  color: $blue-light;
  font-size: $text-md;
  &::placeholder {
    color: $blue-light;
  }
  margin-bottom: 20px;
}
